<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net452" />
  <package id="Serilog" version="2.3.0" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Network" version="1.0.2.32" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.1" targetFramework="net452" />
  <package id="Serilog.Sinks.Udp" version="2.1.0" targetFramework="net452" />
</packages>